[Unit]
Description=AICCU (Automatic IPv6 Connectivity Configuration Utility)
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/aiccu
ExecStart=/usr/sbin/aiccu start $OPTIONS
ExecStop=/usr/sbin/aiccu stop
PIDFile=/run/aiccu.pid

[Install]
WantedBy=multi-user.target
