[Unit]
Description=AICCU (AAutomatic IPv6 Connectivity Configuration Utility)
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/aiccu
ExecStart=/usr/sbin/aiccu start $OPTIONS

[Install]
WantedBy=multi-user.target