Source: aiccu
Section: net
Priority: optional
Maintainer: Axel Beckert <abe@debian.org>
Uploaders: Mike Gabriel <sunweaver@debian.org>
Build-Depends: debhelper (>= 10),
               docbook-to-man,
               libgnutls28-dev,
               po-debconf
Standards-Version: 3.9.8
Homepage: https://www.sixxs.net/tools/aiccu/
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/aiccu.git
Vcs-Git: https://anonscm.debian.org/git/collab-maint/aiccu.git

Package: aiccu
Architecture: kfreebsd-any linux-any
Depends: debconf,
         freebsd-net-tools [kfreebsd-any],
         iproute [linux-any],
         iputils-ping [linux-any],
         iputils-tracepath [linux-any],
         lsb-base (>= 3.0-6),
         ntpdate | ntp | time-daemon,
         ucf,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: bind9-host | dnsutils
Description: SixXS Automatic IPv6 Connectivity Client Utility
 This client configures IPv6 connectivity without having to
 manually configure interfaces etc. A SixXS account or an account
 of another supported tunnel broker and at least one tunnel are
 required. These can be freely requested from the SixXS website
 at no cost. For more information about SixXS check their homepage.
